<html>
    <head>
    <link rel="stylesheet" type = text/css href="static/styles.css">
    </head>
    <body>

    <!-- Manifest generator - lists binaries and public keys and generates a manifest for download -->
    <form action="/get_manifest" method="post" accept-charset="utf-8">
    <h1 for="fw">Step 1: Download your manifest for signing. </h1>
    <label for="fw">Choose your binary: </label>
    <table>
        <tr>
        <th></th><th>name</th><th>SHA1 truncated</th><th>size</th>
        </tr>
    {% for binary in binaries %}
        <tr>
        <th><input type="radio" name="binary" value="{{binary.digest}}"></th>
        <th>{{ binary.path.name }} </th>
        <th><a href = "{{ binary.url }}">{{binary.digest}}</th>
        <th>{{ binary.path.stat().st_size }}B</th>
        </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Download manifest"/>
    </form>

    
    <!-- Manifest re-uploader  -->
    <form action="/upload_manifest" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">
    <h1 for="man">Step 2: Upload your signed manifest. </h1>
    <input id="man" name="manifest" type="file" value=""/>
    <input type="submit" value="submit"/>
    </form>
    
    
    <!-- Manifest deployer - CoAP push to node -->
    <form action="/coap_push" method="post" accept-charset="utf-8">
    <h1 for="man">Step 3: Push your manifest to your node.</h1>
    <table>
        <tr>
        <th></th><th>name</th><th>SHA1 truncated</th><th>size</th>
        </tr>
    {% for manifest in manifests %}
        <tr>
        <th><input type="radio" name="file" value="{{manifest.digest}}"></th>
        <th>{{ manifest.path.name }} </th>
        <th><a href = "{{ manifest.url }}">{{manifest.digest}}</th>
        <th>{{ manifest.path.stat().st_size }}B</th>
        </tr>
    {% endfor %}
    </table>
    <label for="target">CoAP endpoint for deployment</label>
    <input id="target" type="text" name="target"
    value="coap://target.host/local/part"><br>
    <input type="submit" value="push"/>
    </form>
    

    </body>
</html>
