<html>
    <body>


    <!-- Public key uploader -->
    <form action="/public_keys" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">
    <label for="pk">Upload your public key: </label>
    <input id="pk" name="public_key" type="file" value=""/>

    <input type="submit" value="submit"/>
    </form>


    <!-- Binary uploader - replace later with builder -->
    <form action="/binaries" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">

    <label for="bin">Upload your firmware binary: </label>
    <input id="bin" name="binary" type="file" value=""/>

    <input type="submit" value="submit"/>
    </form>


    <!-- Manifest generator - lists binaries and public keys and generates a manifest for download -->
    <form action="/get_manifest" method="post" accept-charset="utf-8">
    <label for="fw">Generate and download your manifest. </label> <br />
    <label for="fw">Choose your public key: </label>
    <table>
        <tr>
        <th></th><th>name</th><th>SHA1 truncated</th><th>size</th>
        </tr>
    {% for public_key in public_keys %}
        <tr>
        <th><input type="radio" name="public_key" value="{{public_key.digest}}"></th>
        <th>{{ public_key.path.name }} </th>
        <th><a href = "{{ public_key.url }}">{{public_key.digest}}</th>
        <th>{{ public_key.path.stat().st_size }}B</th>
        </tr>
    {% endfor %}
    </table>

    <label for="fw">Choose your binary: </label>
    <table>
        <tr>
        <th></th><th>name</th><th>SHA1 truncated</th><th>size</th>
        </tr>
    {% for binary in binaries %}
        <tr>
        <th><input type="radio" name="binary" value="{{binary.digest}}"></th>
        <th>{{ binary.path.name }} </th>
        <th><a href = "{{ binary.url }}">{{binary.digest}}</th>
        <th>{{ binary.path.stat().st_size }}B</th>
        </tr>
    {% endfor %}
    </table>
    <label for="signed">Cose signed</label>
    <input id="signed" type="checkbox" name="signed"><br>
    <input type="submit" value="generate"/>
    </form>

    
    <!-- Manifest re-uploader  -->
    <form action="/upload_manifest" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">

    <label for="man">Upload your signed manifest: </label>
    <input id="man" name="manifest" type="file" value=""/>

    <input type="submit" value="submit"/>
    </form>
    
    
    <!-- Manifest deployer - CoAP push to node -->
    <form action="/coap_push" method="post" accept-charset="utf-8">
    <table>
        <tr>
        <th></th><th>name</th><th>SHA1 truncated</th><th>size</th>
        </tr>
    {% for manifest in manifests %}
        <tr>
        <th><input type="radio" name="file" value="{{manifest.digest}}"></th>
        <th>{{ manifest.path.name }} </th>
        <th><a href = "{{ manifest.url }}">{{manifest.digest}}</th>
        <th>{{ manifest.path.stat().st_size }}B</th>
        </tr>
    {% endfor %}
    </table>

    <label for="target">CoAP endpoint for deployment</label>
    <input id="target" type="text" name="target"
    value="coap://target.host/local/part"><br>

    <label for="signed">Cose signed</label>
    <input id="signed" type="checkbox" name="signed"><br>
    <input type="submit" value="submit"/>
    </form>
    
    
    </body>
</html>
