<html>
    <head>
        <link rel="stylesheet" type = text/css href="static/styles.css">
        <script src="static/js/nacl.js"></script>
        <script src="static/js/cbor.js"></script>
        <script src="static/js/deploy.js"></script>
    </head>

    <body>
    
        <!-- App page section -->
        <div style="background-color:darkturquoise" class="page">
            <h1>App Page</h1>
            <!--
	        <div class="section">
	            <p style="font-weight:bold">Approve the application for your node</p>
                <form action="/get_manifest"  method="get">
                    <input type="submit" value="Download manifest for signing">
                </form>
                <form action="/upload_signed_manifest" method="post" enctype="multipart/form-data">
                    <input name="signed_manifest" type="file"/>
                    <input type="submit" value="Upload your signed manifest"/>
                </form>
                <p>Is your application approved: {{ app_approved }}</p>
	        </div>
            <form action="/ota_deploy" method="post" accept-charset="utf-8" class="section">
                <label>CoAP endpoint:</label>
                <input id="target1" type="text" name="target1" value="coap://target.host/local/part">
                <input type="submit" value="push app v2"/>
            </form>
            -->

            <form class="section">
                <input id="target" type="text" name="target"
                value="coap://target.host/local/foo">
                <button id="deploy" type="button" class="btn btn-primary"
                onclick="deploy_app(document.getElementById('target').value)">Deploy app</button>
                <input id='fileid' type='file' name='private_key' hidden/>
            </form>

        </div>

    </body>
</html>
