<html>
    <head>
        <link rel="stylesheet" type = text/css href="static/styles.css">
    </head>

    <body>
        <!-- User profile section - for key management -->
        <!--
        <div style="background-color:dodgerblue" class="page">
            <h1>User key management</h1>
            <form action="/upload_publickey" method="post" class="section" enctype="multipart/form-data">
                <input name="public_key" type="file"/>
                <input type="submit" value="Replace your public key"/>
            </form>
        </div>
        -->

        <!-- App page section -->
        <div style="background-color:darkturquoise" class="page">
            <h1>SUIT deployment server</h1>
            <!--
            <form action="/download_flasher" method="get" class="section"> 
                <input type="submit" value="Download OTA bootloader and app v1 flasher">
            </form>
            -->
            <form action="/download_keygen" method="get" class="section">
                <input type="submit" value="Download keygen and signer">
            </form>
	    <div class="section">
	    <p style="font-weight:bold">Approve the application for your node</p>
            <form action="/get_manifest"  method="get">
                <input type="submit" value="Download manifest for signing">
            </form>
            <form action="/upload_signed_manifest" method="post" enctype="multipart/form-data">
                <input name="signed_manifest" type="file"/>
                <input type="submit" value="Upload your signed manifest"/>
            </form>
            <p>Is your application approved: {{ app_approved }}</p>
	    </div>
            <form action="/ota_deploy" method="post" accept-charset="utf-8" class="section">
                <label>CoAP endpoint:</label>
                <input id="target" type="text" name="target" value="coap://target.host/local/part">
                <input type="submit" value="push app v2"/>
            </form>
        </div>

    </body>
</html>
