<html>
    <head>
        <link rel="stylesheet" type = text/css href="static/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/main.js"></script>
        <script src="static/js/browser-integration.js"></script>
        <script src="static/js/dialogs.js"></script>
        <script src="static/js/webusb-autodetect.js"></script>
    </head>

    <body>
    
        <!-- User profile section - for key management -->
        <div style="background-color:dodgerblue" class="page">
            <h1>User Page</h1>
            <form action="/download_keygen" method="get" class="section">
                <input type="submit" value="Download keygen">
            </form>
            <form action="/upload_publickey" method="post" class="section" enctype="multipart/form-data">
                <input name="public_key" type="file"/>
                <input type="submit" value="Upload public key"/>
            </form>
            <form class="section">
                <button id="flasher-download-button" type="button" class="btn btn-primary" onclick="download_example()">Prepare device</button>
            </form>
        </div>

    </body>
</html>
